{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
            <div class="card-body">
                <h4 class="card-title">Informativos do Grêmio Estudantil</h4>
                <div class="text-right mr-3">
                    <div class="text-right mr-3">
                        {%if is_Gremio%}                 
                        <a href="/informativo/criar" style="float:right">
                            <button type="button" class="btn mb-1 btn-info" style="float:left;">
                                Adicionar informativo <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button>
                        </a>
                        {%endif%} 
                    </div>
                </div>
                
                <br>
            <tbody>
            
                <div class="row mt-4">
                    {% if informativo %}
                        {% for i in informativo %}
                            <div class="col-md-6">
                                <div class="card mt-4" style="width: 34rem; height: 220px;">
                                    <div class="card-body">
                                        <a href="/informativo/{{ i.id }}" style="text-decoration: none; color: black;">
                                            <h5 class="card-title">{{ i.nome }}</h5>
                                            <p class="card-text" style="text-align: justify;">{{ i.informativo | truncatewords:45}}</p>
                                            {%if is_Gremio%} 
                                            <div style="float:right; margin-bottom: 20px;">
                                                <a href="/informativo/editar/{{ i.id }}" style="float: right; margin-right: 5px;" class="btn mb-1 btn-info">
                                                    Editar <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                                </a>
                                                <a href="/informativo/excluir/{{ i.id }}" style="float: right; margin-right: 5px;" class="btn mb-1 btn-danger">
                                                    Excluir <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </div>
                                            {%endif%}
                                        </a>
                                    </div>    
                                </div> 
                            </div>
                            
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12">
                            <p>Não há informativos no momento, aguarde as próximas postagens.</p>
                        </div>
                    {% endif %}
                </div>
                
            </tbody>
            </div>    
        </div>          
</div>   
{% endblock %}