{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
            <div class="card-body">
                <h4 class="card-title">Reuniões do Grêmio Estudantil</h4>
                <div class="text-right mr-3">
                    <div class="text-right mr-3">
                        {%if not is_Alunos%}                 
                        <a href="/reuniao/criar" style="float:right">
                            <button type="button" class="btn mb-1 btn-info" style="float:left;">
                                Adicionar Reuniões <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button>
                        </a>
                        {%endif%} 
                    </div>
                </div>
                <br>
                <br>
                {% if reuniao %}
                {% for r in reuniao %}
                <div class="card text-center">
                    <a href="/reuniao/{{ r.id }}" style="text-decoration: none; color: black;">
                    <div class="card-header">
                        {{ r.nome }}
                    </div>
                    <div class="card-body" style="text-align: justify;">
                      <p class="card-text">
                        <footer class="blockquote-footer" style="float:left" >Data: {{ r.data }} </footer><br>
                        <class style="float:left">{{ r.informacoes | truncatewords:50}}</class></p>
                        <div style="float:right">
                            <a href="/reuniao/editar/{{ r.id }}">
                            <button type="button" class="btn mb-1 btn-primary">
                                Editar <span class="btn-icon-right"></span>
                            </button>
                            </a>
                            <a href="/reuniao/excluir/{{ r.id }}">
                            <button type="button" class="btn mb-1 btn-danger">
                                Excluir <span class="btn-icon-right"></span>
                            </button>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Cargos: {{ r.cargos }}
                    </div>
                    </a>
                </div>
                <br>
                {% endfor %}
                {% else %}
                <tr>
                <td>Não há reuniões no momento, aguarde as próximas postagens.</td>
                </tr>
                {% endif %}
            </div>    
        </div>          
</div>   
{% endblock %}