{% extends '_base.html' %}

{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalhes do evento </h4>
                <form action="/evento/editar/{{evento_id}}/" method="post">

                    {% csrf_token %}

                    {{form|bootstrap}}              
                    <br>
                    <input type="submit" class="btn btn-primary" value="Salvar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}