{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
            <div class="card-body">
                <h4 class="card-title">Eventos do Grêmio Estudantil</h4>
                <div class="text-right mr-3">
                    <div class="text-right mr-3">
                        {%if not is_Alunos%}   
                        <a href="/evento/criar" style="float:right">
                            <button type="button" class="btn mb-1 btn-info">
                                Adicionar evento <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button>
                        </a>
                        <br>
                        <br>
                        {%endif%} 
                    </div>
                </div>
                <tbody>
                    {% if evento %}
                    {% for e in evento %}
                        <div class="col-12">
                            <div class="card">
                                <a href="/evento/{{ e.id }}" style="text-decoration: none; color: black;">
                                <div class="card-header">
                                    {{ e.nome }}
                                </div>
                                <div class="card-body" style="text-align: justify;">
                                    <blockquote class="blockquote mb-0">
                                        <p>{{ e.informacoes | truncatewords:50 }}</p>
                                            <footer class="blockquote-footer">Data: {{ e.data }} 
                                                <div style="float:right">
                                                    <td>
                                                    <a href="/evento/editar/{{ e.id }}">
                                                    <button type="button" class="btn mb-1 btn-primary">
                                                    Editar <span class="btn-icon-right"></span>
                                                    </button>
                                                    </a>
                                                    </td>
                                                    
                                                    <td>
                                                    <a href="/evento/excluir/{{ e.id }}">
                                                    <button type="button" class="btn mb-1 btn-danger">
                                                    Excluir <span class="btn-icon-right"></span>
                                                    </button>
                                                    </a>
                                                    </td>
                                                </div>
                                            </footer>
                                    </blockquote>
                                </div>
                            </a>
                            </div>
                            <br>
                            {% endfor %}
                            {% else %}
                            <tr>
                            <td>Não há eventos no momento, aguarde as próximas postagens</td>
                            </tr>
                            {% endif %}
                        </div>    
            </tbody>
            </div>
    </div>
</div>

{% endblock %}