{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
            <div class="card-body">
                <h4 class="card-title">Eventos do Grêmio Estudantil</h4>
                <div class="text-right mr-3">
                    <div class="text-right mr-3">
                        {%if is_Gremio%}
                        <a href="/evento/criar" style="float:right">
                            <button type="button" class="btn mb-1 btn-info">
                                Adicionar evento <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button>
                        </a>  
                        {%endif%}
                    </div>
                    <br>
                    <br>
                    
                </div>
                
                <tbody>
                    
                    {% if evento %}
                    <div class="row">
                    {% for e in evento %}
                    <div class="col-md-6">
                        <div class="card">
                    <div class="card" style="width: 34rem; height: 330px;">
                            
                                <a href="/evento/{{ e.id }}" style="text-decoration: none; color: black;">
                                <div class="card-header">
                                    {{ e.nome }}
                                </div>
                                <div class="card-body d-flex flex-column" style="text-align: justify;">
                                    <blockquote class="blockquote mb-0 flex-grow-1">
                                        <p>{{ e.informacoes | truncatewords:50 }}</p>
                                    </blockquote>
                                    <footer class="blockquote-footer mt-auto" style="margin-bottom: 0px">Data: {{ e.data }} 
                                        {%if is_Gremio%} 
                                        <div style="float:right">
                                            <td>
                                                <a href="/evento/editar/{{ e.id }}" style="float: right; margin-right: 5px;" class="btn mb-1 btn-info">
                                                    Editar <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/evento/excluir/{{ e.id }}" style="float: right; margin-right: 5px;" class="btn mb-1 btn-danger">
                                                    Excluir <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </td>
                                        </div>                                                                  
                                        {%endif%}
                                    </footer>
                                </div>
                                
                            </a>
                            </div>
                        </div>
                        <br>
                    </div>
                            <br>
                            {% endfor %}
                            {% else %}
                            <tr>
                            <td>Não há eventos no momento, aguarde as próximas postagens</td>
                            </tr>
                            {% endif %}
                        </div> 
            </tbody>
            </div>
    </div>
</div>

{% endblock %}